-
	var products = [
		{
			image: 's1.jpg',
			name: 'Swiss embroidery cotton dress',
			price: '99.99',
			currency: '$',
			salePrice: '59.90',
		},
		{
			image: 's2.jpg',
			name: 'Striped pleated dress',
			price: '39.99',
			currency: '$',
		},
		{
			image: 's3.jpg',
			name: 'Linen cotton blend dress',
			price: '34.99',
			currency: '$',
		},
		{
			image: 's4.jpg',
			name: 'Swiss embroidery cotton dress',
			price: '39.90',
			currency: '$',
		},
		{
			image: 's4.jpg',
			name: 'Swiss embroidery cotton dress',
			price: '39.90',
			currency: '$',
		},
		{
			image: 's4.jpg',
			name: 'Swiss embroidery cotton dress',
			price: '39.90',
			currency: '$',
		},
	];
