.masonry
	.content
		.grid
			.grid-sizer
			a.grid-item(href="#")
				img(src="images/m1.jpg", alt="")

			a.grid-item(href="#")
				img(src="images/m4.png", alt="")

			a.grid-item.grid-item--width2(href="#")
				img(src="images/m2.jpg", alt="")

			a.grid-item.grid-item--width3(href="#")
				img(src="images/m3.jpg", alt="")

			a.grid-item.grid-item--width2(href="#")
				img(src="images/m5.jpg", alt="")

			a.grid-item.grid-item--width3(href="#")
				img(src="images/m6.jpg", alt="")
