include includes/data.pug

doctype html
html(lang="en")
include includes/head.pug
body
	include includes/header.pug
	include includes/masonry.pug
	include includes/products-grid.pug

	script(src="./js/scripts.js")
	
