@font-face {
	font-family: "dinnextltpro";
	font-weight: 400;
	src: url("../fonts/dinnextltpro-regular-webfont.eot?") format("eot"),
	     url("../fonts/dinnextltpro-regular-webfont.woff") format("woff"),
	     url("../fonts/dinnextltpro-regular-webfont.ttf") format("truetype"),
	     url("../fonts/dinnextltpro-regular-webfont.svg") format("svg");
}

@font-face {
	font-family: "dinnextltpro";
	font-weight: 500;
	src: url("../fonts/dinnextltpro-medium-webfont.eot?") format("eot"),
	     url("../fonts/dinnextltpro-medium-webfont.woff") format("woff"),
	     url("../fonts/dinnextltpro-medium-webfont.ttf") format("truetype"),
	     url("../fonts/dinnextltpro-medium-webfont.svg") format("svg");
}

@font-face {
	font-family: "entypo";
	src: url("../fonts/entypo.eot?") format("eot"),
	     url("../fonts/entypo.woff") format("woff"),
	     url("../fonts/entypo.ttf") format("truetype"),
	     url("../fonts/entypo.svg") format("svg");
}

@font-face {
	font-family: "pfdintextcomppro";
	font-weight: 200;
	src: url("../fonts/pfdintextcomppro-xthin-webfont.eot?") format("eot"),
	     url("../fonts/pfdintextcomppro-xthin-webfont.woff") format("woff"),
	     url("../fonts/pfdintextcomppro-xthin-webfont.ttf") format("truetype"),
	     url("../fonts/pfdintextcomppro-xthin-webfont.svg") format("svg");
}

@font-face {
	font-family: "pfdintextcomppro";
	font-weight: 300;
	src: url("../fonts/pfdintextcomppro-thin-webfont.eot?") format("eot"),
	     url("../fonts/pfdintextcomppro-thin-webfont.woff") format("woff"),
	     url("../fonts/pfdintextcomppro-thin-webfont.ttf") format("truetype"),
	     url("../fonts/pfdintextcomppro-thin-webfont.svg") format("svg");
}

@font-face {
	font-family: "pfdintextcomppro";
	font-weight: 400;
	src: url("../fonts/pfdintextcomppro-regular-webfont.eot?") format("eot"),
	     url("../fonts/pfdintextcomppro-regular-webfont.woff") format("woff"),
	     url("../fonts/pfdintextcomppro-regular-webfont.ttf") format("truetype"),
	     url("../fonts/pfdintextcomppro-regular-webfont.svg") format("svg");
}
