@import "variables";

.product {
	font-family: 'dinnextltpro';
	position: relative;
	text-decoration: none;
	color: $black;

	&-title {
		font-size: 11px;
		text-transform: uppercase;
		display: table-cell;
		vertical-align: top;
		padding-right: 3px;
	}

	&-image {
		margin: 0 auto 15px auto;
	}

	&-info {
		padding-right: 10px;
		display: table;
	}

	&-row {
		display: table-row;
	}

	&-price {
		font-size: 29px;
		font-family: 'dinnextltpro';
		font-weight: 500;
		line-height: 1;
		display: table-cell;
		vertical-align: top;
		padding-bottom: 5px;
		letter-spacing: -1px;
	}

	&-discount {
		display: table-cell;
		vertical-align: top;
		color: $gray;
		font-size: 11px;
		text-transform: uppercase;
		letter-spacing: - 0.5px;
		padding-right: 3px;
	}

	&-price--sale {
		display: table-cell;
		vertical-align: top;
		color: $gray;
		font-size: 14px;
		line-height: 1;

		.currency {
			font-size: 11px;
		}
	}

	&-coins {
		display: inline-block;
		vertical-align: top;
		line-height: 1;
	}
}

.sale-badge {
	position: absolute;
	top: 0;
	right: 5px;
	background: $green;
	display: inline-block;
	text-transform: uppercase;
	color: $white;
	font: 300 16px pfdintextcomppro;
	width: 45px;
	height: 36px;
	text-align: center;
	padding-top: 4px;
	background:transparent url('../images/bubble.png') center center no-repeat;
}


